@page "/customerreservation/details"
@using Microsoft.EntityFrameworkCore
@using FSD_Project.Domain
@inject IDbContextFactory<FSD_Project.Data.FSD_ProjectContext> DbFactory
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Reservation</h2>
    <hr />
    @if (reservation is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">ReservedDateTime</dt>
            <dd class="col-sm-10">@reservation.ReservedDateTime</dd>
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@reservation.CustomerId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@reservation.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@reservation.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@reservation.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@reservation.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/reservations/edit?id={reservation.Id}")">Edit</a> |
            <a href="/customerreservation/create">Back to Reservations</a>
        </div>
    }
</div>

@code {
    private Reservation? reservation;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        reservation = await context.Reservation.FirstOrDefaultAsync(m => m.Id == Id);

        if (reservation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
