@page "/branches/details"
@using Microsoft.EntityFrameworkCore
@using FSD_Project.Domain
@inject IDbContextFactory<FSD_Project.Data.FSD_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin, Staff")]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Branch</h2>
    <hr />
    @if (branch is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@branch.Name</dd>
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@branch.Location</dd>
            <dt class="col-sm-2">contactNumber</dt>
            <dd class="col-sm-10">@branch.contactNumber</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@branch.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@branch.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@branch.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@branch.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/branches/edit?id={branch.Id}")">Edit</a> |
            <a href="@($"/branches")">Back to List</a>
        </div>
    }
</div>

@code {
    private Branch? branch;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        branch = await context.Branch.FirstOrDefaultAsync(m => m.Id == Id);

        if (branch is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
